RewriteEngine On

RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteRule library api.php?action=library
RewriteRule current/video api.php?action=clcache
RewriteRule ^image/(.*)$ api.php?action=image&id=$1
RewriteRule ^stream/(.*)$ api.php?action=stream&id=$1
RewriteRule ^comment/(.*)$ api.php?action=comment&id=$1

#RewriteRule ^(.*?)$ api.php?func=$1
